.red{
    color:red;
}
.blue{
    color: blue !important;
}
p{
    color: black;
}
#title{
    font-weight: bold;
    color: purple;
}
#sub-title{
    font-weight: bold;
    color: black;
}
section{
    height: 100vh;
    border: 1px solid black;
}
p.blue{
    color:blue;
}
#head{
    color: blue !important;
}