.header-img{
    position: relative;
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 8px 8px 0px 0px;
}
#footer{
    color: black;
    display: flex;
    align-items: center;
}
h1{
    color: rgb(238, 108, 22);
    font-weight: bold;
}

body{
    background-color: rgb(248, 247, 247);;
    font-family: 'Roboto', sans-serif;
    padding:20px;
}
.img-container{
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;

}
a{
    color: rgb(238, 108, 22);
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
}
a:hover{
    text-decoration: underline;
}
.name{
    color: black;
    font-size: 45px;
}
.text-class{
    font-family: 'Roboto' sans-serif;
    padding: 8px;
    /*font-weight: 500;*/
    background-color:rgb(248, 247, 247);
    border-radius: 0px 0px 8px 8px ;
}
.redirect-to-nas{
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.redirect-to-nas:hover{
    text-decoration: none;
}
@media(max-width:680px){
.navbar{
    display: block;
margin: 10px;
}

}