body{
    margin: 0px;
    background-color: rgb(248, 247, 247);
}
div{
   margin: 30px; background-color: white;
}
h1{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: -5px;
    padding-left: 20px;
    padding-right: 30px;
}
.lebenslauf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.cv-img{
    border-radius: 8px;
    max-width: 30%;
    height: auto;
}
.daten{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding:20px;
    margin-left: 30px;
}
.date{
    font-weight: 600;
}
@media (max-width:992px){
    .lebenslauf{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}








/*.date{
    font-weight: 600;
}
ul{
    font-size: 30px;
}
body{
    margin: 0;
    color: black;
    background-color:  white;
    
}
.lebenslauf{
    display: flex;
    width: 100%;
    height: 100%;
}
header{
    padding-left: 20px;
    background-color: rgb(248, 247, 247);
    box-shadow: 0px 5px 13px 2px lightgray;
}
.absatz{
    font-size: 30px;
    font-weight: 600;
}*/
