/* Color Palette

#94B49F
#CEE5D0
#ECB390
#FCF8E8


*/
/* Font */
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/assets/font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Pacifico;
  src: url("/assets/font/Pacifico/Pacifico-Regular.ttf");
}
/* Font */
font {
  font-family: "Pacifico", sans-serif;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
div {
  margin: 0;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}
section{
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

}
/* Background */
.green {
  background-color: #94b49f;
  color: #cee5d0;
}
.orange {
  background-color: #fcf8e8;
  color: #ecb390;
}

/* NAVBAR */
.navbar {
  padding: 1rem 3rem;
  width: 100%;
}
.brand {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  color: #cee5d0;
}
.dropbar {
  padding-top: 0.9rem;
}
.nav-link {
  color: #cee5d0;
}
.navbar-part-3 {
  margin-left: auto;
}
/* HEADER */
.container-header {
  padding-top: 20%;
  padding-bottom: 10%;
}
.container-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-1 {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
}
.header-2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}
/* TRENNER */
.trenner {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.dots {
  border: 0 0 0 0;
  border-style: dotted;
  border-width: 1rem;
  width: 15%;
  border-top: 2rem;
  margin: 0 auto;
  border-color: #cee5d0;
}

/* ABILITIES */
.carousel-itm {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3rem;
}
/* Project */

.projects {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* CTA */

.cta {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ctabtn {
  width: 30ch;
  margin-left: auto;
  margin-right: auto;
  color: #ecb390;
  font-weight: bold;
  border-color: #ecb390;
  text-decoration: none;
}
.ctabtn:hover {
  background-color: #fcf8e8;
  color: #ecb390;
  box-shadow: 0 0 3px 2px #ecb390;
  text-decoration: underline;
}
.ctaa {
  color: inherit;
  text-decoration: inherit;
}
.ctaa:hover {
  color: inherit;
  text-decoration:inherit;
}
/* Footer */
.footer {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.footername {
  text-decoration: none;
}
.footername:hover {
  background-color: #94b49f;
  color: #cee5d0;
}
@media (max-width:450px){
.brand{
  font-size: 1.5rem;
}
.abilitiy-text{
  margin: 0;
}
.container-btn{
  margin: 0;
}
}