/* 
E1FFB1
C7F2A4
B6E388
FCFFB2
*/

body{
    margin: 0;
background-color:#E1FFB1;
}
.color1{
background-color:#C7F2A4;
color: black;
}
.color2{
background-color: #B6E388;
}
.color3{
background-color: #FCFFB2;
}


/* Navbar */
.navbar-brand{
    margin:0;
}
.home{
color:inherit;
}
/* Tätigkeit */
.ability{

}
